/**
 * @file
 * Contains layout background specifications.
 */

/* Default top/bottom padding */
.layout--bg-extended,
.layout--bg:not(.layout--bg-extended) > .layout__content
{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 950px) {
  .layout--bg-extended,
  .layout--bg:not(.layout--bg-extended) > .layout__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* Small top/bottom padding */
.layout--bg-padding-small.layout--bg-extended,
.layout--bg-padding-small:not(.layout--bg-extended) > .layout__content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Large top/bottom padding */
.layout--bg-padding-large.layout--bg-extended,
.layout--bg-padding-large:not(.layout--bg-extended) > .layout__content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 950px) {
  .layout--bg-padding-large.layout--bg-extended,
  .layout--bg-padding-large:not(.layout--bg-extended) > .layout__content {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/* Light grey background color */
.layout--bg-light-grey.layout--bg-extended,
.layout--bg-light-grey:not(.layout--bg-extended) > .layout__content {
  background-color: #f2f3f9;
}

/* "Automatic" fixes based on background color */
.layout--bg-light-grey.layout--at-a-glance > .layout__content > .layout__flex-gap > .layout__region::after {
  background-color: #f2f3f9;
}

/* Automatic contrasting */
.layout--bg-light-grey .cta-block--expand {
  --cta-block-expand-background-color: var(--cta-block-expand-background-color-light);
}

/* Background images starter kit */
.layout--bg-extended.layout--bg-shield-bg,
.layout--bg.layout--bg-shield-bg:not(.layout--bg-extended) > .layout__content {
  background: red !important;
}
