/**
 * @file
 * Contains layout background specifications.
 */

/* Default top/bottom padding */
.layout--bg-extended,
.layout--bg:not(.layout--bg-extended) > .layout__content
{
  padding-top: 4rem;
  padding-bottom: 4rem;
  position:relative;
}

@media screen and (min-width: 950px) {
  .layout--bg-extended,
  .layout--bg:not(.layout--bg-extended) > .layout__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* Small top/bottom padding */
.layout--bg-padding-small.layout--bg-extended,
.layout--bg-padding-small:not(.layout--bg-extended) > .layout__content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Large top/bottom padding */
.layout--bg-padding-large.layout--bg-extended,
.layout--bg-padding-large:not(.layout--bg-extended) > .layout__content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 950px) {
  .layout--bg-padding-large.layout--bg-extended,
  .layout--bg-padding-large:not(.layout--bg-extended) > .layout__content {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/* Light grey background color */
.layout--bg-light-grey.layout--bg-extended,
.layout--bg-light-grey:not(.layout--bg-extended) > .layout__content {
  background-color: #f2f3f9;
}

/* "Automatic" fixes based on background color */
.layout--bg-light-grey.layout--at-a-glance > .layout__content > .layout__flex-gap > .layout__region::after {
  background-color: #f2f3f9;
}

/* Automatic contrasting */
.layout--bg-light-grey .cta-block--expand {
  --cta-block-expand-background-color: var(--cta-block-expand-background-color-light);
}

/* Background images starter kit */

.layout--bg-extended.layout--bg-shield,
.layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content,
.layout--bg-extended.layout--bg-shield-left,
.layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content {
  background-color: #ebecf4;
}

@supports ( container-type: inline-size ){

.layout--bg-extended.layout--bg-shield,
.layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content,
.layout--bg-extended.layout--bg-shield-left,
.layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content {
  background-color: none;
  container-type: inline-size;
}

.layout--bg-extended.layout--bg-shield::before,
.layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content::before,
.layout--bg-extended.layout--bg-shield-left::before,
.layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #ebecf4;
  background-image: url("../../images/community-shield.svg");
  background-repeat: no-repeat;
  background-position: right -58rem top -40rem;
  background-size: 70rem;
}
.layout--bg-extended.layout--bg-shield-left::before,
.layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content::before {
  background-position: left -62rem top -42rem;
  background-size: 70rem;
}

@container (min-width: 550px) {
  .layout--bg-extended.layout--bg-shield::before,
  .layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -75rem top -47rem;
    background-size: 90rem;
  }
  .layout--bg-extended.layout--bg-shield-left::before,
  .layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -78rem top -49rem;
    background-size: 90rem;
  }
}

@container (min-width: 800px) {
  .layout--bg-extended.layout--bg-shield::before,
  .layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -92rem top -63rem;
    background-size: 110rem;
  }
  .layout--bg-extended.layout--bg-shield-left::before,
  .layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -98rem top -63rem;
    background-size: 110rem;
  }
}

@container (min-width: 950px) {
  .layout--bg-extended.layout--bg-shield::before,
  .layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -110rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield-left::before,
  .layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -112rem top -76rem;
    background-size: 130rem;
  }
}

@container (min-width: 1280px) {
  .layout--bg-extended.layout--bg-shield.layout--narrow::before,
  .layout--bg.layout--bg-shield.layout--narrow:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -98rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield-left.layout--narrow::before,
  .layout--bg.layout--bg-shield-left.layout--narrow:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -98rem top -76rem;
    background-size: 130rem;
  }
}

@container (min-width: 1500px) {
  .layout--bg-extended.layout--bg-shield::before,
  .layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -95rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield.layout--narrow::before,
  .layout--bg.layout--bg-shield.layout--narrow:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -87rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield-left::before,
  .layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -95rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield-left.layout--narrow::before,
  .layout--bg.layout--bg-shield-left.layout--narrow:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -87rem top -76rem;
    background-size: 130rem;
  }
}

@container (min-width: 1800px) {
  .layout--bg-extended.layout--bg-shield::before,
  .layout--bg.layout--bg-shield:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -83rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield.layout--narrow::before,
  .layout--bg.layout--bg-shield.layout--narrow:not(.layout--bg-extended) > .layout__content::before {
    background-position: right -65rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield-left::before,
  .layout--bg.layout--bg-shield-left:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -83rem top -76rem;
    background-size: 130rem;
  }
  .layout--bg-extended.layout--bg-shield-left.layout--narrow::before,
  .layout--bg.layout--bg-shield-left.layout--narrow:not(.layout--bg-extended) > .layout__content::before {
    background-position: left -70rem top -76rem;
    background-size: 130rem;
  }
}

}