<div class="layout layout--onecol layout--bg layout--bg-shield-bg">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
</div>