<div class="layout layout--onecol layout--bg layout--narrow layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg layout--narrow layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--narrow layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--narrow layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--bg-shield">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg layout--narrow layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg layout--narrow layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--narrow layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--narrow layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="layout layout--onecol layout--bg-extended layout--bg layout--bg-shield-left">
  <div class="layout__content">
    <div class="layout__flex-gap">
        <div class="layout__region layout__region--content">
            <div class="block block--wysiwyg">
                <div class="wysiwyg">
                    <h2>Some heading - Extended background</h2>
                    <p>This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on. This is a WYSIWYG block with some very long content. Content goes on and on and on.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

